body {
  background-color: #39CCCC;
}
.player-icon {
 display: block;
  max-width: 80px;
  
}
.jumbotron {
  text-align: center;
  font-size: large;
}
.p1-zone {
text-align: center;
}
.p2-zone{
text-align: center;
}
.return{
  text-align: center;
}
/* 
* {
  border: solid red;
} */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}